.sidebar-sticky {
	position: sticky;
	top: 0;
	height: calc(100vh - 80px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.logo {
	max-height: 80px;
}

.sidebar .nav-link {
	color: #f8f9fa;
}

.sidebar .nav-link:hover {
	color: rgba(255,255,255,.5);
}
